<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>clipper</title>
<meta charset="utf-8">
<meta name="description" content="This site play movie clips of youtube." />
<meta name="author" content="munoudesu" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/clipper.css" />
<link rel="shortcut icon" href="icon/favicon.ico" />
</head>
<body>
{{ range . }}
<a href="{{ .ChannelId }}.html"><img src="{{ .ThumbnailDefaultUrl }}" />{{ .Name }}</a><br />
{{ end }}
</body>
</html>
